{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}