<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>956016367956-anhpekqh6me98mku8hs4100vbbcus5d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956016367956-anhpekqh6me98mku8hs4100vbbcus5d6</string>
	<key>API_KEY</key>
	<string>AIzaSyDFsIunNG1b3879ciwYT6LukWdgPqSmiLk</string>
	<key>GCM_SENDER_ID</key>
	<string>956016367956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-47fcc</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-47fcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956016367956:ios:843e43ea56903649</string>
	<key>DATABASE_URL</key>
	<string>https://loginapp-47fcc.firebaseio.com</string>
</dict>
</plist>